<?xml version="1.0"?>
<launch>
  <arg name="uri" default="radio://0/80/2M/E7E7E7E704" />
  <arg name="frame" default="/orb_slam2_mono/pose" /> <!-- change to slam output pose -->



  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="crazyflie" />
      <param name="enable_logging_imu" value="True" />
      <param name="enable_logging_temperature" value="True" />
      <param name="enable_logging_magnetic_field" value="True" />
      <param name="enable_logging_pressure" value="True" />
      <param name="enable_logging_battery" value="True" />
      <param name="enable_logging_packets" value="True" />
    </node>

<!--
  <node name="commander" pkg="crazyflie_demo" type="crazybal_slam_demo.py" output="screen">
      <param name="topic" value="$(arg frame)" />
  </node>
-->

  <node name="pose" pkg="crazyflie_demo" type="publish_external_position_slam.py" output="screen">
      <param name="position_topic" value="$(arg frame)" />
  </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg frame) /crazyflie/base_link 100" /> --> <!-- add transform between camera and cf axis-->

  </group>


</launch>
